/* "Tide" theme */
/* TODO:
- Convert the other themes to CSS Variables
- Allow user to set default CSS theme in JS config
- Export the themes as identical JS objects
- For theme switcher, update root-level CSS properties via JS (https://medium.com/@_bengarrison/accessing-and-modifying-css-variables-with-javascript-2ccb735bbff0)
 */

:root {
    /* Interface UI Colors */
    --default-color: #f9c19c;
    --hover-color: #ffffff;
    --active-color: #d68720;
    --ui-border-color: #6f6144;
    --ui-border-color-dark: #795125;
    --ui-border-color-active: #d97b00;
    --primary-background-color: #000000;
    --box-background-color: #75623e;

    /* Common palette */
    --ui-yellow: #E29E4A;
    --ui-sky-blue: #e2d16f;
    /* State palette */
    --ui-state-error: #FFCCCC;
    --ui-state-error-border: #993333;
    --ui-state-error-text: #661111;
    --ui-gray-light: #516873;
    --ui-gray: #263340;
    --ui-gray-dark: #16202B;
    --ui-gray-darker: #151A1F;
    --ui-gray-darkest: #14202A;

    /* Text Colors */
    --text-color-active: #000000;
    --text-primary-color: #ffffff;
    --text-secondary-color: #cdac91;
    --large-numbers-color: #e46429;
    --text-disabled-color: #878787;

    --input-background-color: #3f372c;
    --input-placeholder-color--hover: #4d5a63;
    --input-placeholder-color: #d3d3d3;


    --table-hover-color: #835521;
    --table-text-primary-color: #ffffff;
    --table-text-secondary-color: #cdae91;

    --large-numbers-color:#e2996f;

    --state-error: #FFCCCC;
    --state-error-border: #FFCCCC;
    --state-error-text: #FFCCCC;
}
